.Album {
    box-sizing: border-box;
    height: auto;
    width: 50%;
    background: rgb(61, 61, 230, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
div {
    text-align: center;
}