.Comment {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 48.684%;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    padding: 12px 30px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: aquamarine;
    cursor: pointer;
    border: 2px solid #BFE2FF;
}
.Comment:hover,
.Comment:focus {
    color: black;
}
.Comment:after,
.Comment:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: black;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.Comment:before {
    top: -6px;
}
.Comment:hover:after,
.Comment:hover:before,
.Comment:focus:after,
.Comment:focus:before {
    width: 100%;
    left: 0;
}

.Comment div {
    text-align: center;
}