.Post {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 1%;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: cornflowerblue;
    cursor: pointer;
    border: 2px solid #BFE2FF;
}

.Post:hover,
.Post:focus {
    color: black;
}

.Post:after,
.Post:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: black;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}

.Post:before {
    top: -6px;
}

.Post:hover:after,
.Post:hover:before,
.Post:focus:after,
.Post:focus:before {
    width: 100%;
    left: 0;
}

.Post div {
    text-align: center;
}